*{
	padding: 0;
	margin: 0;
}
.main{
	border: solid;
	border-color: black;
}
.head{
	height: 100px;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px
}
.logo{
	height: 100px;
	width: 150px;
}
.paragrph{
	border: solid;
	border-color: white;
}
.bottom{
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	height: 190px;
	margin-bottom: 2px;
	}

.foot{
	color:black;
	font-family: arial;
}
